* {box-sizing: border-box}
.card {
  background-color: #2b046f; 
  color: white;                
  border: none;              
  border-radius: 15px;       
}

.container {
  padding: 16px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ffffff;
  outline: none;
}


hr {
  border: 1px solid #371212;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #04AA6D;
  color: rgb(0, 0, 0);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:2;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #7fc46a;
  text-align: center;
}

body {
  min-height: 90savh;
  margin: 0;    
  background: linear-gradient(
    180deg,
    #1c0c38,
    #3b4189,
    #9da2e1
  );
  color: #1e12357e;
}